@import "tailwindcss";

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: white; /* Màu nền mặc định */
  color: #333; /* Màu chữ mặc định */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Loại bỏ margin mặc định */
  padding: 0; /* Loại bỏ padding mặc định */
}